body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-weight: 500;
}

.intro-first {
  margin-bottom: 16px;
}

.intro-second {
  margin-bottom: 16px;
}

.note{
  font-weight: bold;
}

.profile-image {
  padding: 4px;
  width:220px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* On desktop screen. */
@media only screen and (min-width: 768px) {
  .profile {
    flex-direction: row;
    align-items: normal;
  }
  
  .profile-image {
    margin-right: 30px;
  }
}
