body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 24px;
}

.body-content {
  max-width: 768px;
  margin-left:auto;
  margin-right:auto;
}

.footnote {
  max-width: 970px;
  margin-left:auto;
  margin-right:auto;
  font-size: 12px;
  line-height: 16px;
  color: darkgrey;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.name {
  font-weight: 500;
}

.intro-first {
  margin-bottom: 16px;
}

.intro-second {
  margin-bottom: 16px;
}

.note{
  font-weight: bold;
}

.profile-image {
  padding: 4px;
  width:220px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.segment { 
  border-top: 1px solid #d2d2d2;
}

.segment-title {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
}

.segment-content {
  margin-top: 16px;
  margin-bottom: 16px;
}

/* On desktop screen. */
@media only screen and (min-width: 768px) {
  .profile {
    flex-direction: row;
    align-items: normal;
  }
  
  .profile-image {
    margin-right: 30px;
  }
}
